USE [CP_Build_Prior]
GO
/****** Object:  StoredProcedure [dbo].[FTP_DEPOSITS_WAL_TAGGING]    Script Date: 3/19/2020 10:12:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[FTP_DEPOSITS_WAL_TAGGING]

AS

BEGIN
SET NOCOUNT ON


UPDATE QRM_DEPOSITS_RETAIL_CD
SET WAL = B.WAL
FROM QRM_DEPOSITS_RETAIL_CD A
JOIN LKP_WAL_DEPOSITS B
ON A.LORIGDATE BETWEEN B.ORGIN_DATE_FROM AND B.ORGIN_DATE_TO
AND A._ACCOUNT = B.BSM_ACCOUNT
WHERE A._ACCOUNT != 'ACCOUNT=USD Select CD'

UPDATE QRM_DEPOSITS_RETAIL_CD
SET WAL = B.WAL
FROM QRM_DEPOSITS_RETAIL_CD A
JOIN LKP_WAL_DEPOSITS B
ON A.LORIGDATE BETWEEN B.ORGIN_DATE_FROM AND B.ORGIN_DATE_TO
AND A._ACCOUNT = B.BSM_ACCOUNT
AND A.CUSTOMDIM3 = B.CUSTOMDIM3
WHERE A._ACCOUNT = 'ACCOUNT=USD Select CD'

UPDATE QRM_BROKER_CD
SET WAL = B.WAL
FROM QRM_BROKER_CD A
JOIN LKP_WAL_DEPOSITS B
ON A.LORIGDATE BETWEEN B.ORGIN_DATE_FROM AND B.ORGIN_DATE_TO
AND A._ACCOUNT = B.BSM_ACCOUNT

UPDATE QRM_DEPOSITS_IRA_CD
SET WAL = B.WAL
FROM QRM_DEPOSITS_IRA_CD A
JOIN LKP_WAL_DEPOSITS B
ON A.LORIGDATE BETWEEN B.ORGIN_DATE_FROM AND B.ORGIN_DATE_TO
AND A._ACCOUNT = B.BSM_ACCOUNT

END
----MMA, OSA, CHECKING

UPDATE QRM_DEPOSITS_MM
SET WAL= 
CASE	
	WHEN _ACCOUNT = 'ACCOUNT=MMDA' THEN 100
	WHEN _ACCOUNT = 'ACCOUNT=OSA' THEN 128
	WHEN _ACCOUNT = 'ACCOUNT=OSA - IRA' THEN 128
END

UPDATE QRM_DEPOSITS_ESCROW
SET WAL= 
CASE	
	WHEN _ACCOUNT = 'ACCOUNT=USD Interest Checking' THEN 128
	ELSE NULL
END

Print 'Deposit WAL tagged'
